<!DOCTYPE html>
<html lang="es">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="kopmukolekt, inventario, informatica">
  <meta name="author" content="Pablo Castellano">
  {% load staticfiles %}
  <link rel="icon" href="{% static 'favicon.ico' %}">

  <title>{% block title %}KompuKolekt!{% endblock %}</title>

  <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
  <link href="{% static 'css/kompukolekt.css' %}" rel="stylesheet">
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</head>

<body>

  <div class="container">

<div class="header1">
<div class="row">

  <div class="navbar-form navbar-left">
  <a href="#"><img src="{% static "logo.png" %}"></a>
  <div class="form-group">
      <a href="{% url 'home' %}" style="color: black"><i class="glyphicon glyphicon-barcode"></i> <strong>KompuKolekt!</strong></a>
      <i class="glyphicon glyphicon-user"></i>
{% if user.is_authenticated %}
    Welcome, <strong>{{ user.username }}</strong>. |
    <a href="{% url 'item-dashboard' %}">My dashboard</a> |
      <a href="{% url 'profile' %}">My account</a> |
    <i class="glyphicon glyphicon-log-out"></i> <a href="{% url 'logout' %}">Log out</a>
{% else %}
    Please <a href="{% url 'login' %}">log in</a> or <a href="{% url 'register' %}">register</a>.
{% endif %}

  </div>
  </div>
</div>
</div>

    <a href="https://github.com/PabloCastellano/kompukolekt">
        <img style="position: absolute; top: 0; right: 0; border: 0;" src="{% static "forkme_right_red_aa0000.png" %}" alt="Fork me on GitHub"
        data-canonical-src="{% static "forkme_right_red_aa0000.png" %}">
    </a>

    {% if messages %}
    <div id="messages">
        {% for message in messages %}
            <div class="alert alert-{{message.tags}}">
                <a class="close" data-dismiss="alert">×</a>
                {{message}}
            </div>
        {% endfor %}
    </div>
    {% endif %}

    {% block content %}{% endblock %}

    <footer class="footer">
        <div class="container">
            <div class="row">
              <div class="col-lg-6">
                <p class="text-muted">© KompuKolekt developers (c) 2015 <i>(version: <a href="https://github.com/PabloCastellano/kompukolekt/commit/{{ version }}">git-{{ version }}</a>)</i></p>
              </div>
              <div class="col-lg-6">
                <img src="{% static "agplv3-155x51.png" %}">
              </div>
            </div>
      </div>
    </footer>

  </div> <!-- /container -->

  {% include "piwik.html" %}
  </body>
</html>
