{% extends "base.html" %}

{% block content %}

    <h1>Kompukolekt!</h1>

    {% lorem 4 p %}

    <i class="glyphicon glyphicon-hdd"></i> Last 10 registered computers:
    <ul>
    {% for computer in computers %}
        <li><a href="{{ computer.get_absolute_url }}">{{ computer.name }}</a> (from {{ computer.user }})</li>
    {% endfor %}
    </ul>

    <br/>

    <i class="glyphicon glyphicon-user"></i> Last 5 registered users:
    <ul>
        {% for user in last_users %}
        <li>{{ user.username }} ({{ user.date_joined }})</li>
        {% endfor %}
    </ul>
{% endblock %}